<div class="card text-dark bg-info mb-3">
  <div class="card-header">{{tittle}}</div>
  <div class="card-body">
    <div class="alert alert-warning my-2" *ngIf="students?.length==0">there is not students</div> 
    <button class="btn btn-success my-2" routerLink="/students/form">create student</button>
    <table class="table table-dark table-striped" *ngIf="students?.length!=0">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>surname</th>
                <th>email</th>
                <th>create at</th>
                <th>edit</th>
                <th>delete</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <th>{{student.id}}</th>
                <th>{{student.name}}</th>
                <th>{{student.surname}}</th>
                <th>{{student.email}}</th>
                <th>{{student.createAt | date:"yyyy-MM-dd"  }}</th>
                <th><button class="btn btn-warning btn-sm" [routerLink]="['/students/form',student.id]">edit</button></th> 
                <th><button class="btn btn-danger btn-sm" (click)="delete(student)">delete</button></th>
            </tr>
        </tbody>
    </table>
  </div>
</div>

