<div class="card text-dark bg-warning mb-3">
    <div class="card-header">{{tittle}}</div>
    <div class="card-body">
        <button class="btn btn-success my-2" routerLink="/courses/form">create course</button>
        <table class="table table-dark table-striped" *ngIf="list?.length!=0">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>exams</th>
                    <th>add exam</th>
                    <th>students</th>
                    <th>add student</th>
                    <th>create at</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.exam.length}}</td> 
                    <td><button class="btn btn-primary" [routerLink]="['/courses/add-exams', item.id]">
                    add exams</button></td>
                    <td>{{item.student.length}}</td>
                    <td><button class="btn btn-success" [routerLink]="['/courses/add-student', item.id]">
                    add students</button></td>
                    <td>{{item.createAt | date: "yyyy-MM-dd" }}</td>
                    <td><button class="btn btn-warning btn-sm" [routerLink]="['/courses/form',item.id]">edit</button></td> 
                    <td><button class="btn btn-danger btn-sm" (click)="delete(item)">delete</button></td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="lenght"
            [pageSize]="size"
            [pageSizeOptions]="[5, 10, 25]"
            [pageIndex]="index"
            (page)="page($event)"
        >
    </mat-paginator>
    </div>
</div>